*
/*
!/fastfetch/
!fastfetch/*
!/gtk*/
!gtk*/*
!/hypr/
!hypr/*
!/kitty/
!kitty/*
!/nvim/
!nvim/*
!/ranger/
!ranger/*
!/swayidle/
!swayidle/*
!/swaylock/
!swaylock/*
!/tmux/
!tmux/*
!/tofi/
!tofi/*
!/waybar/
!waybar/*
!/wofi/
!wofi/*
!/workstyle/
!workstyle/*
!/wpaperd/
!wpaperd/*
!.gitignore
!.zshrc
!README.md
!logno*
!my-aliases
!setup.sh
!gittips.md
!mako
!/mako/config
