* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "ProggyVector", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
  background: linear-gradient(180deg , rgba(0,0,0,0.5), rgba(0,0,0,0.4));
  /* background-color: pink; */
}

/* .modules-left, .modules-right { */
window#waybar {
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* padding: 18px; */
    /* margin: 0 6px 0 6px; */
    color: rgba(255, 255, 255, 0.9);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.1;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    background-color: rgba(250, 250, 250, 0.1);
    border: none;
    border-radius: 0;
    margin: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* button:hover { */
    /* background: inherit; */
    /* box-shadow: inset 0 -3px #ffffff; */
    /* background-color: rgba(250, 250, 250, 0.2); */
/* } */


/* #workspaces { */
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* border-radius: 14px; */
/* } */

#workspaces button {
    padding: 0 5px;
    font-family: "Symbols Nerd Font Mono";
    /* background-color: rgba(250, 250, 250, 0.2); */
    color: #ffffff;
    transition: all ease-in-out 0.3s;
}


/* #workspaces button:hover { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */

#workspaces button.active {
   background-color: rgba(255, 255, 255, 0.4);
}
#workspaces button:hover {
   background-color: rgba(255, 255, 255, 0.6);
  }


#workspaces button.urgent {
    background-color: #eb4d4b;
}



/* #workspaces button:nth-child(1) { */
/*   background-color: rgba(42, 133, 219, 0.4); */
/* } */
/* #workspaces button:nth-child(1).active { */
/*   background-color: rgba(42, 133, 219, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(2) { */
/*   background-color: rgba(13, 181, 77, 0.4); */
/* } */
/* #workspaces button:nth-child(2).active { */
/*   background-color: rgba(13, 181, 77, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(3) { */
/*   background-color: rgba(85, 18, 179, 0.4); */
/* } */
/* #workspaces button:nth-child(3).active { */
/*   background-color: rgba(85, 18, 179, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(4) { */
/*   background-color: rgba(235, 102, 0, 0.4); */
/* } */
/* #workspaces button:nth-child(4).active { */
/*   background-color: rgba(235, 102, 0, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(5) { */
/*   background-color: rgba(170, 229, 250, 0.4); */
/* } */
/* #workspaces button:nth-child(5).active { */
/*   background-color: rgba(76, 157, 186, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(6) { */
/*   background-color: rgba(255, 198, 28, 0.4); */
/* } */
/* #workspaces button:nth-child(6).active { */
/*   background-color: rgba(255, 198, 28, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(7) { */
/*   background-color: rgba(10, 157, 255, 0.4); */
/* } */
/* #workspaces button:nth-child(7).active { */
/*   background-color: rgba(10, 157, 255, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(8) { */
/*   background-color: rgba(18, 18, 252, 0.4); */
/* } */
/* #workspaces button:nth-child(8).active { */
/*   background-color: rgba(18, 18, 252, 0.7); */
/*   color: white; */
/* } */
/* #workspaces button:nth-child(9) { */
/*   background-color: rgba(13, 181, 77, 0.4); */
/* } */
/* #workspaces button:nth-child(9).active { */
/*   background-color: rgba(13, 181, 77, 0.7); */
/*   color: white; */
/* } */

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#submap {
/* background-color: rgba(0, 0, 0, 0.6) ; */
/* background: linear-gradient(130deg, rgba(233,229,69,0.6) -20%, rgba(96,242,249,0.4) 50%, rgba(242,66,247,0.6) 120%); */
font-size: 16px;
 font-weight: 600;
color: rgba(255, 255, 255, 0.6);
padding: 3px 8px 3px 8px;
/* border-radius: 16px; */
/* border: solid 2px #f3f3f3; */
}


#submap {
  color: rgb(210, 223, 70);
  border-color: rgb(210, 223, 70);
}

#window,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 6px;
    color: rgba(255, 255, 255, 0.9);
    /* border: solid 2px; */
    border-radius: 16px;
    /* background-color: rgba(0,0,0,0.3) */
    /* border-bottom: solid 2px; */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* .modules-right { */
/*   background: linear-gradient(130deg, rgba(159,156,34,0.8) 0%, rgba(37,148,153,0.6) 50%, rgba(118,22,121,0.8) 100%); */
/*   border-radius: 16px; */
/* } */

#window {
  font-weight: 800;
  padding-top: 2px;
}

/* #bluetooth.on { */
/*   background-color: rgba(207, 45, 169, 0.2); */
/* } */
/* #bluetooth.connected { */
/*   background-color: rgba(207, 45, 169, 0.6); */
/* } */
/**/
#battery {
    color: rgba(6, 6, 6, 0.6);
    background-color: rgba(255,255,255,0.8);
    border-radius: 16px;
    padding: 2px 8px;
    font-size: 18px;
    font-weight: 900;
}

#battery.warning {
  background-color: rgba(207, 172, 45, 1);
}
#battery.charging, #battery.plugged {
    background-color: rgba(0, 230, 73, 1);
}

@keyframes blink {
    to {
       background-color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(230, 0, 0, 1);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/**/
/* label:focus { */
/*     background-color: #000000; */
/* } */
/**/
/* #cpu { */
/*     background-color: rgba(13, 181, 77, 0.6); */
/* } */
/**/
/* #memory { */
/*     background-color: rgba(85, 18, 179, 0.6); */
/* } */
/**/
/* #disk { */
/*     background-color: #964B00; */
/* } */
/**/
/* #backlight { */
/*     background-color: rgba(170, 229, 250, 0.6); */
/* } */
/**/
/* #network { */
/*     background-color: rgba(42, 133, 219, 0.6); */
/* } */
/**/
/* #network.disconnected { */
/*     background-color: rgba(255, 62, 28, 0.6); */
/* } */
/**/
/* #pulseaudio { */
/*     background-color: rgba(255, 198, 28, 0.6); */
/* } */
/**/
/* #pulseaudio.muted { */
/*     background-color: rgba(255, 62, 28, 0.6); */
/* } */
/**/
/* #wireplumber { */
/*     background-color: #fff0f5; */
/* } */
/**/
/* #wireplumber.muted { */
/*     background-color: #f53c3c; */
/* } */
/**/
/* #custom-media { */
/*     background-color: #66cc99; */
/*     min-width: 100px; */
/* } */
/**/
/* #custom-media.custom-spotify { */
/*     background-color: #66cc99; */
/* } */
/**/
/* #custom-media.custom-vlc { */
/*     background-color: #ffa000; */
/* } */
/**/
/* #temperature { */
/*     background-color: rgba(235, 102, 0, 0.6); */
/* } */
/**/
/* #temperature.critical { */
/*     background-color: rgba(255, 62, 28, 0.6); */
/* } */
/**/
/* #tray { */
/*     background-color: rgba(0,0,0, 0.4); */
/*     color: #ffffff; */
/* } */
/**/
/* #tray > .passive { */
/*     -gtk-icon-effect: dim; */
/* } */
/**/
/* #tray > .needs-attention { */
/*     -gtk-icon-effect: highlight; */
/* } */
/**/
#idle_inhibitor {
    color: rgba(10, 10, 10, 1);

}

#idle_inhibitor.activated {
    color: rgba(250,250,250, 0.9);
}
/**/
/* #mpd { */
/*     background-color: #66cc99; */
/*     color: #2a5c45; */
/* } */
/**/
/* #mpd.disconnected { */
/*     background-color: #f53c3c; */
/* } */
/**/
/* #mpd.stopped { */
/*     background-color: #90b1b1; */
/* } */
/**/
/* #mpd.paused { */
/*     background-color: #51a37a; */
/* } */
/**/
/* #language { */
/*     background: #00b093; */
/*     color: #740864; */
/*     padding: 0 5px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
/**/
/* #keyboard-state { */
/*     background: #97e1ad; */
/*     color: #000000; */
/*     padding: 0 0px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
/**/
/* #keyboard-state > label { */
/*     padding: 0 5px; */
/* } */
/**/
/* #keyboard-state > label.locked { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */
/**/
/* #scratchpad { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */
/**/
/* #scratchpad.empty { */
/* 	background-color: transparent; */
/* } */


